@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "../../vendor/livewire/flux/dist/flux.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-zinc-50: var(--color-slate-50);
    --color-zinc-100: var(--color-slate-100);
    --color-zinc-200: var(--color-slate-200);
    --color-zinc-300: var(--color-slate-300);
    --color-zinc-400: var(--color-slate-400);
    --color-zinc-500: var(--color-slate-500);
    --color-zinc-600: var(--color-slate-600);
    --color-zinc-700: var(--color-slate-700);
    --color-zinc-800: var(--color-slate-800);
    --color-zinc-900: var(--color-slate-900);
    --color-zinc-950: var(--color-slate-950);

    --color-accent: var(--color-indigo-500);
    --color-accent-content: var(--color-indigo-600);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-indigo-500);
        --color-accent-content: var(--color-indigo-300);
        --color-accent-foreground: var(--color-white);
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-zinc-200, currentColor);
    }
}

.minicard {
    @apply bg-white dark:bg-zinc-700/50 px-3 py-2.5 rounded-xl border dark:border-zinc-700;
}

.card {
    @apply bg-white dark:bg-zinc-700/50 px-4 py-6 rounded-xl border dark:border-zinc-700;
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

#qrcode > svg {
    @apply !w-full !h-full;
}

/* Hide scrollbars */
@utility scrollbar-hidden {
    &::-webkit-scrollbar {
        display: none;
    }
}

.text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #6ee7b7, #3b82f6, #9333ea);
}

.hero-pattern, .footer-pattern {
    background-image: radial-gradient(
        circle at 1px 1px,
        rgba(255, 255, 255, 0.1) 1px,
        transparent 0
    );
    background-size: 20px 20px;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
